.nav li {
    display: inline;
    margin-left: 10px;
    
}


.nav a {
    transition: color 1s ease, border-bottom 1s ease;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(49, 65, 91); 
}

.nav a:hover {
    color: rgb(177, 193, 199); 
    border-color: rgb(177, 193, 199); 
}


.nav {
    background-color: rgb(49, 65, 91);
    padding: 1px;
    color: white;
    position: fixed;
    width: 100%;
    
}  