div#root{
    height: 100%;
    width: 100%;
}



div.container {
    /* width: 100%; */
    /* height: 1022px; */
    /* background-color: rgba(91,131,141,0.8); */
}

.map {
    width: 50px;
}

#eventtoggle{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    box-shadow: none;
    position: relative;
    top: 475px;
    left: 5px;
    z-index: 1;
    background-color: rgb(49, 65, 91);
    opacity: 0.8;
    color: white;
}

#eventtoggle:hover{
    opacity: 1;
    transition: 0.5s;
}

div.map {
    width: 70%;
}